* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: linear-gradient(135deg, #e9dcff, #c8a9f7);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    background: #ffffff;
    width: 420px;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.15);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #7b3fe4;
    font-weight: 600;
}


form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 20px;
}

form input {
    padding: 10px 15px;
    border-radius: 12px;
    border: 1px solid #ddd;
    outline: none;
    font-size: 14px;
    transition: 0.2s;
}

form input:focus {
    border: 1px solid #a66cff;
    box-shadow: 0 0 5px rgba(166,108,255,0.3);
}

form button {
    padding: 10px;
    border-radius: 12px;
    border: none;
    background: linear-gradient(135deg, #a66cff, #7b3fe4);
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s;
}

form button:hover {
    opacity: 0.9;
}


.actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.actions select {
    padding: 8px 12px;
    border-radius: 10px;
    border: 1px solid #ddd;
    outline: none;
}

.actions button {
    padding: 8px 12px;
    border-radius: 10px;
    border: none;
    background: #ff5c5c;
    color: white;
    cursor: pointer;
}


table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: #f3e9ff;
}

th {
    padding: 10px;
    font-size: 13px;
    color: #7b3fe4;
}

td {
    padding: 8px;
    font-size: 13px;
}

tr {
    border-bottom: 1px solid #eee;
}

.completed {
    text-decoration: line-through;
    color: #999;
}


td button {
    border: none;
    padding: 5px 8px;
    border-radius: 6px;
    cursor: pointer;
    margin: 0 2px;
}

td button:first-child {
    background: #4ade80;
    color: white;
}

td button:last-child {
    background: #f87171;
    color: white;
}
